tsv(Tab-separated values): 데이터를 탭 기준으로 구분한 파일 형식   

자연어 데이터에는 콤마가 들어있는 경우가 많아 => csv를 데이터 구분의 기준으로 사용하면 코퍼스의 형태가 망가져
  
자연어 데이터를 저장할 때에는 tsv 형식을 많이 사용

In [1]:
import pandas as pd

In [2]:
#delimiter 속성을 '\t'로 지정해야 합니다.
df = pd.read_csv('../data/imdb.tsv', delimiter='\\t')

C:\Users\semin\AppData\Local\Temp\ipykernel_33032\2293128741.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('../data/imdb.tsv', delimiter='\\t')

In [3]:
df

                                              review
0  "Watching Time Chasers, it obvious that it was...
1  I saw this film about 20 years ago and remembe...
2  Minor Spoilers In New York, Joan Barnard (Elvi...
3  I went to see this film with a great deal of e...
4  "Yes, I agree with everyone on this site this ...
5  "Jennifer Ehle was sparkling in \""Pride and P...
6  Amy Poehler is a terrific comedian on Saturday...
7  "A plane carrying employees of a large biotech...
8  A well made, gritty science fiction movie, it ...
9  "Incredibly dumb and utterly predictable story...

In [4]:
#소문자로 정규화
df['review'] = df['review'].str.lower()

In [5]:
# df['review'][0]

In [6]:
# 단어 토큰화
from nltk.tokenize import word_tokenize

df['word_tokens'] = df['review'].apply(word_tokenize)

C:\Users\semin\anaconda3\lib\site-packages\scipy\__init__.py:132: UserWarning: A NumPy version >=1.21.6 and <1.28.0 is required for this version of SciPy (detected version 1.21.5)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [7]:
# df['word_tokens'][0]

# 데이터 정제
각 코퍼스별로 등장 빈도가 1회 이하, 단어의 길이가 2 이하, 그리고 NLTK에서 기본 제공하는 불용어에 해당하는 단어들을 정제해 보겠습니다.

In [8]:
%load_ext autoreload
%autoreload 2

In [9]:
from preprocess import clean_by_freq
from preprocess import clean_by_len
from preprocess import clean_by_stopwords

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\semin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\semin\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\semin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [10]:
from collections import Counter

# 문장 토큰화

In [11]:
from preprocess import sent_tokenize
from nltk.tokenize import sent_tokenize
df['sent_tokens'] = df['review'].apply(sent_tokenize)
df['sent_tokens'][0]

['"watching time chasers, it obvious that it was made by a bunch of friends.',
 'maybe they were sitting around one day in film school and said, \\""hey, let\'s pool our money together and make a really bad movie!\\"" or something like that.',
 'what ever they said, they still ended up making a really bad movie--dull story, bad script, lame acting, poor cinematography, bottom of the barrel stock music, etc.',
 "all corners were cut, except the one that would have prevented this film's release.",
 'life\'s like that."']

# 품사 태깅

In [12]:
from preprocess import pos_tagger

In [13]:
df['pos_tagged_tokens']= df['sent_tokens'].apply(pos_tagger)
df['pos_tagged_tokens'][0]

[('``', '``'),
 ('watching', 'JJ'),
 ('time', 'NN'),
 ('chasers', 'NNS'),
 (',', ','),
 ('it', 'PRP'),
 ('obvious', 'VBZ'),
 ('that', 'IN'),
 ('it', 'PRP'),
 ('was', 'VBD'),
 ('made', 'VBN'),
 ('by', 'IN'),
 ('a', 'DT'),
 ('bunch', 'NN'),
 ('of', 'IN'),
 ('friends', 'NNS'),
 ('.', '.'),
 ('maybe', 'RB'),
 ('they', 'PRP'),
 ('were', 'VBD'),
 ('sitting', 'VBG'),
 ('around', 'IN'),
 ('one', 'CD'),
 ('day', 'NN'),
 ('in', 'IN'),
 ('film', 'NN'),
 ('school', 'NN'),
 ('and', 'CC'),
 ('said', 'VBD'),
 (',', ','),
 ('\\', 'FW'),
 ("''", "''"),
 ("''", "''"),
 ('hey', 'NN'),
 (',', ','),
 ('let', 'VB'),
 ("'s", 'POS'),
 ('pool', 'VB'),
 ('our', 'PRP$'),
 ('money', 'NN'),
 ('together', 'RB'),
 ('and', 'CC'),
 ('make', 'VB'),
 ('a', 'DT'),
 ('really', 'RB'),
 ('bad', 'JJ'),
 ('movie', 'NN'),
 ('!', '.'),
 ('\\', 'NN'),
 ("''", "''"),
 ("''", "''"),
 ('or', 'CC'),
 ('something', 'NN'),
 ('like', 'IN'),
 ('that', 'DT'),
 ('.', '.'),
 ('what', 'WP'),
 ('ever', 'RB'),
 ('they', 'PRP'),
 ('said', 'VBD'),
 (',', ','),
 ('they', 'PRP'),
 ('still', 'RB'),
 ('ended', 'VBD'),
 ('up', 'RP'),
 ('making', 'VBG'),
 ('a', 'DT'),
 ('really', 'RB'),
 ('bad', 'JJ'),
 ('movie', 'NN'),
 ('--', ':'),
 ('dull', 'JJ'),
 ('story', 'NN'),
 (',', ','),
 ('bad', 'JJ'),
 ('script', 'NN'),
 (',', ','),
 ('lame', 'NN'),
 ('acting', 'NN'),
 (',', ','),
 ('poor', 'JJ'),
 ('cinematography', 'NN'),
 (',', ','),
 ('bottom', 'NN'),
 ('of', 'IN'),
 ('the', 'DT'),
 ('barrel', 'NN'),
 ('stock', 'NN'),
 ('music', 'NN'),
 (',', ','),
 ('etc', 'FW'),
 ('.', '.'),
 ('all', 'DT'),
 ('corners', 'NNS'),
 ('were', 'VBD'),
 ('cut', 'VBN'),
 (',', ','),
 ('except', 'IN'),
 ('the', 'DT'),
 ('one', 'NN'),
 ('that', 'WDT'),
 ('would', 'MD'),
 ('have', 'VB'),
 ('prevented', 'VBN'),
 ('this', 'DT'),
 ('film', 'NN'),
 ("'s", 'POS'),
 ('release', 'NN'),
 ('.', '.'),
 ('life', 'NN'),
 ("'s", 'POS'),
 ('like', 'IN'),
 ('that', 'DT'),
 ('.', '.'),
 ("''", "''")]

# 표제어 추출

In [14]:
from preprocess import words_lemmatizer

df['lemmatized_tokens'] = df['pos_tagged_tokens'].apply(words_lemmatizer)

In [15]:
df['lemmatized_tokens'][0]

['``',
 'watching',
 'time',
 'chaser',
 ',',
 'it',
 'obvious',
 'that',
 'it',
 'be',
 'make',
 'by',
 'a',
 'bunch',
 'of',
 'friend',
 '.',
 'maybe',
 'they',
 'be',
 'sit',
 'around',
 'one',
 'day',
 'in',
 'film',
 'school',
 'and',
 'say',
 ',',
 '\\',
 "''",
 "''",
 'hey',
 ',',
 'let',
 "'s",
 'pool',
 'our',
 'money',
 'together',
 'and',
 'make',
 'a',
 'really',
 'bad',
 'movie',
 '!',
 '\\',
 "''",
 "''",
 'or',
 'something',
 'like',
 'that',
 '.',
 'what',
 'ever',
 'they',
 'say',
 ',',
 'they',
 'still',
 'end',
 'up',
 'make',
 'a',
 'really',
 'bad',
 'movie',
 '--',
 'dull',
 'story',
 ',',
 'bad',
 'script',
 ',',
 'lame',
 'acting',
 ',',
 'poor',
 'cinematography',
 ',',
 'bottom',
 'of',
 'the',
 'barrel',
 'stock',
 'music',
 ',',
 'etc',
 '.',
 'all',
 'corner',
 'be',
 'cut',
 ',',
 'except',
 'the',
 'one',
 'that',
 'would',
 'have',
 'prevent',
 'this',
 'film',
 "'s",
 'release',
 '.',
 'life',
 "'s",
 'like',
 'that',
 '.',
 "''"]

In [16]:
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english'))

In [17]:
df['cleaned_tokens'] = df['word_tokens'].apply(lambda x: clean_by_freq(x, 1))
df['cleaned_tokens'] = df['cleaned_tokens'].apply(lambda x: clean_by_len(x, 2))
df['cleaned_tokens'] = df['cleaned_tokens'].apply(lambda x: clean_by_stopwords(x, stopwords_set))

In [18]:
df[['cleaned_tokens']]

                                      cleaned_tokens
0  [one, film, said, really, bad, movie, like, sa...
1                                       [film, film]
2  [new, york, joan, barnard, elvire, audrey, bar...
3  [went, film, film, went, jump, send, n't, jump...
4  [site, movie, bad, even, movie, made, movie, s...
5  [ehle, northam, wonderful, wonderful, ehle, no...
6  [role, movie, n't, author, book, author, autho...
7  [plane, ceo, search, rescue, mission, ceo, har...
8  [gritty, movie, sci-fi, good, suspense, movie,...
9                                       [girl, girl]

# 자연어 전처리 후 통합하기
*  리스트의 요소들을 하나로 합칠 때에는 join() 함수를 '구분자'.join(리스트) 형태로 사용
* 단어 토큰들을 띄어쓰기로 구분하기 위해 구분자를 공백(' ')으로 하겠습니다.

In [19]:
def combine(sentence):
    return ' '.join(sentence)

In [20]:
df['combined_corpus']=df['cleaned_tokens'].apply(combine)
df[['combined_corpus']]

                                     combined_corpus
0  one film said really bad movie like said reall...
1                                          film film
2  new york joan barnard elvire audrey barnard jo...
3  went film film went jump send n't jump radio n...
4  site movie bad even movie made movie special m...
5  ehle northam wonderful wonderful ehle northam ...
6  role movie n't author book author author role ...
7  plane ceo search rescue mission ceo harlan kno...
8  gritty movie sci-fi good suspense movie sci-fi...
9                                          girl girl

# 정수 인코딩
* 정수 인코딩: 토큰화된 각 단어에 특정 정수를 맵핑하여 고유 번호로 사용하는 방법  
- 단어의 등장 빈도를 기준으로 정렬한 다음 인덱스를 부여하는 방식
- 모든 전처리 과정이 끝난 코퍼스를 가지고 정수 인코딩을 해야 합니다.

In [21]:
df[['cleaned_tokens']]

                                      cleaned_tokens
0  [one, film, said, really, bad, movie, like, sa...
1                                       [film, film]
2  [new, york, joan, barnard, elvire, audrey, bar...
3  [went, film, film, went, jump, send, n't, jump...
4  [site, movie, bad, even, movie, made, movie, s...
5  [ehle, northam, wonderful, wonderful, ehle, no...
6  [role, movie, n't, author, book, author, autho...
7  [plane, ceo, search, rescue, mission, ceo, har...
8  [gritty, movie, sci-fi, good, suspense, movie,...
9                                       [girl, girl]

In [27]:
# #Example test
# tokens = df['cleaned_tokens'][4]
# vocab = Counter(tokens)
# vocab = vocab.most_common()
# vocab

[('movie', 9),
 ('jim', 7),
 ('stand-up', 3),
 ('days', 3),
 ('really', 3),
 ('terrible', 3),
 ('site', 2),
 ('bad', 2),
 ('even', 2),
 ('made', 2),
 ('special', 2),
 ('like', 2),
 ('actor', 2),
 ('love', 2),
 ('stand', 2)]

In [28]:
# word_to_idx ={}
# i = 0
# for (word, frequency) in vocab :
#     i += 1
#     word_to_idx[word] =  i

# word_to_idx

{'movie': 1,
 'jim': 2,
 'stand-up': 3,
 'days': 4,
 'really': 5,
 'terrible': 6,
 'site': 7,
 'bad': 8,
 'even': 9,
 'made': 10,
 'special': 11,
 'like': 12,
 'actor': 13,
 'love': 14,
 'stand': 15}

In [31]:
# encoded_idx = []
# for token in tokens:
#     idx = word_to_idx[token]
#     encoded_idx.append(idx)

# encoded_idx

[7,
 1,
 8,
 9,
 1,
 10,
 1,
 11,
 1,
 1,
 1,
 2,
 10,
 3,
 4,
 3,
 2,
 12,
 2,
 13,
 14,
 15,
 4,
 11,
 2,
 4,
 9,
 7,
 14,
 2,
 3,
 2,
 13,
 1,
 15,
 2,
 12,
 5,
 6,
 5,
 6,
 1,
 6,
 5,
 8,
 1]

In [34]:
#모든 로우에 있는 토큰들을 합쳐서 빈도를 계산할 때에는 sum() 함수가 사용됩니다. 
#sum() 함수에 모든 코퍼스들과 []를 파라미터로 넘겨 주면 하나의 합쳐진 토큰 리스트가 결과로 나옵니다.
tokens = sum(df['cleaned_tokens'], [])
tokens

['one',
 'film',
 'said',
 'really',
 'bad',
 'movie',
 'like',
 'said',
 'really',
 'bad',
 'movie',
 'bad',
 'one',
 'film',
 'like',
 'film',
 'film',
 'new',
 'york',
 'joan',
 'barnard',
 'elvire',
 'audrey',
 'barnard',
 'john',
 'saxon',
 'italy',
 'etruscan',
 'tomb',
 'joan',
 'italy',
 'colleague',
 'italy',
 'maggots',
 'maggots',
 'joan',
 'tomb',
 'colleague',
 'story',
 'new',
 'york',
 'joan',
 'colleague',
 'romantic',
 'end',
 'time',
 'watching',
 'story',
 'romantic',
 'end',
 'elvire',
 'audrey',
 'john',
 'saxon',
 'maggots',
 'watching',
 'etrusco',
 'time',
 'etrusco',
 'etruscan',
 'went',
 'film',
 'film',
 'went',
 'jump',
 'send',
 "n't",
 'jump',
 'radio',
 "n't",
 'send',
 'reporters',
 'fear',
 'fear',
 'radio',
 'reporters',
 "n't",
 'radio',
 "n't",
 "n't",
 'site',
 'movie',
 'bad',
 'even',
 'movie',
 'made',
 'movie',
 'special',
 'movie',
 'movie',
 'movie',
 'jim',
 'made',
 'stand-up',
 'days',
 'stand-up',
 'jim',
 'like',
 'jim',
 'actor',
 'love',
 'stand',
 'days',
 'special',
 'jim',
 'days',
 'even',
 'site',
 'love',
 'jim',
 'stand-up',
 'jim',
 'actor',
 'movie',
 'stand',
 'jim',
 'like',
 'really',
 'terrible',
 'really',
 'terrible',
 'movie',
 'terrible',
 'really',
 'bad',
 'movie',
 'ehle',
 'northam',
 'wonderful',
 'wonderful',
 'ehle',
 'northam',
 'lust',
 'lust',
 'ehle',
 'northam',
 'role',
 'movie',
 "n't",
 'author',
 'book',
 'author',
 'author',
 'role',
 "n't",
 'queen',
 'corn',
 'corn',
 'queen',
 'author',
 'book',
 'movie',
 "n't",
 'plane',
 'ceo',
 'search',
 'rescue',
 'mission',
 'ceo',
 'harlan',
 'knowles',
 'lance',
 'henriksen',
 'search',
 'rescue',
 'mission',
 'knowles',
 'trying',
 'rescue',
 'woods',
 'film',
 'one',
 'lance',
 'henriksen',
 'one',
 'two',
 'could',
 'easily',
 'decent',
 'film',
 'two',
 "'re",
 'quastel',
 'film',
 'calling',
 'sasquatch',
 'quastel',
 'try',
 'time',
 'try',
 'potential',
 'material',
 'related',
 'plane',
 'trying',
 'material',
 'related',
 'monster',
 'exposition',
 'dialogue',
 'potential',
 'far',
 'monster',
 'costume',
 'get',
 'see',
 'character',
 'woods',
 'could',
 'quastel',
 'would',
 'time',
 'monster',
 'scenes',
 'decent',
 'dialogue',
 'could',
 'easily',
 'effective',
 'sasquatch',
 'made',
 'reason',
 'quastel',
 'thinks',
 'good',
 'idea',
 'dialogue',
 'scenes',
 'time',
 'see',
 'lines',
 'scene',
 'lines',
 'scene',
 'back',
 'back',
 'reason',
 'thinks',
 'good',
 'idea',
 'use',
 'use',
 'dialogue',
 'whether',
 'idea',
 'time',
 'irrelevant',
 'comments',
 'whether',
 'irrelevant',
 'comments',
 'one',
 'time',
 'reason',
 "n't",
 'whether',
 'scenes',
 'random',
 'scenes',
 "'re",
 'shown',
 'appear',
 'random',
 'important',
 'either',
 'never',
 'appear',
 "'re",
 'far',
 'scenes',
 'reason',
 'left',
 'scene',
 'film',
 'either',
 'needs',
 'exposition',
 'needs',
 'important',
 'monster',
 'could',
 'easily',
 'shown',
 'reason',
 'character',
 'left',
 'even',
 'though',
 'reason',
 'scene',
 'even',
 'though',
 'never',
 'reason',
 'calling',
 'harlan',
 'knowles',
 'like',
 "'re",
 'reason',
 'quastel',
 'monster',
 'scenes',
 'even',
 'though',
 'costume',
 "n't",
 'bad',
 'would',
 'effective',
 'bad',
 'could',
 'get',
 'idea',
 'like',
 'film',
 'better',
 'henriksen',
 'hiking',
 'hiking',
 'film',
 'one',
 'could',
 "n't",
 'time',
 'better',
 'quastel',
 'made',
 'gritty',
 'movie',
 'sci-fi',
 'good',
 'suspense',
 'movie',
 'sci-fi',
 "'re",
 'looking',
 "'re",
 'looking',
 'good',
 'gritty',
 'sci-fi',
 'good',
 'suspense',
 'movie',
 'good',
 'girl',
 'girl']

In [35]:
word_to_idx={}
i=0

vocab = Counter(tokens)
vocab = vocab.most_common()

for (word, frequency) in vocab:
    i = i+1
    word_to_idx[word] = i

print(word_to_idx)

{'movie': 1, 'film': 2, "n't": 3, 'time': 4, 'reason': 5, 'bad': 6, 'jim': 7, 'one': 8, 'like': 9, 'could': 10, "'re": 11, 'quastel': 12, 'scenes': 13, 'good': 14, 'really': 15, 'even': 16, 'monster': 17, 'joan': 18, 'made': 19, 'author': 20, 'dialogue': 21, 'idea': 22, 'scene': 23, 'italy': 24, 'colleague': 25, 'maggots': 26, 'radio': 27, 'stand-up': 28, 'days': 29, 'terrible': 30, 'ehle': 31, 'northam': 32, 'rescue': 33, 'knowles': 34, 'henriksen': 35, 'easily': 36, 'whether': 37, 'though': 38, 'sci-fi': 39, 'said': 40, 'new': 41, 'york': 42, 'barnard': 43, 'elvire': 44, 'audrey': 45, 'john': 46, 'saxon': 47, 'etruscan': 48, 'tomb': 49, 'story': 50, 'romantic': 51, 'end': 52, 'watching': 53, 'etrusco': 54, 'went': 55, 'jump': 56, 'send': 57, 'reporters': 58, 'fear': 59, 'site': 60, 'special': 61, 'actor': 62, 'love': 63, 'stand': 64, 'wonderful': 65, 'lust': 66, 'role': 67, 'book': 68, 'queen': 69, 'corn': 70, 'plane': 71, 'ceo': 72, 'search': 73, 'mission': 74, 'harlan': 75, 'lance': 76, 'trying': 77, 'woods': 78, 'two': 79, 'decent': 80, 'calling': 81, 'sasquatch': 82, 'try': 83, 'potential': 84, 'material': 85, 'related': 86, 'exposition': 87, 'far': 88, 'costume': 89, 'get': 90, 'see': 91, 'character': 92, 'would': 93, 'effective': 94, 'thinks': 95, 'lines': 96, 'back': 97, 'use': 98, 'irrelevant': 99, 'comments': 100, 'random': 101, 'shown': 102, 'appear': 103, 'important': 104, 'either': 105, 'never': 106, 'left': 107, 'needs': 108, 'better': 109, 'hiking': 110, 'gritty': 111, 'suspense': 112, 'looking': 113, 'girl': 114}

In [38]:
def idx_encoder(tokens, word_to_idx):
    encoded_idx = []
    
    for token in tokens:
        idx = word_to_idx[token]
        encoded_idx.append(idx)
        
    return encoded_idx

In [39]:
df['integer_encoded'] = df['cleaned_tokens'].apply(lambda x : idx_encoder(x, word_to_idx))
df[['integer_encoded']]

                                     integer_encoded
0  [8, 2, 40, 15, 6, 1, 9, 40, 15, 6, 1, 6, 8, 2, 9]
1                                             [2, 2]
2  [41, 42, 18, 43, 44, 45, 43, 46, 47, 24, 48, 4...
3  [55, 2, 2, 55, 56, 57, 3, 56, 27, 3, 57, 58, 5...
4  [60, 1, 6, 16, 1, 19, 1, 61, 1, 1, 1, 7, 19, 2...
5           [31, 32, 65, 65, 31, 32, 66, 66, 31, 32]
6  [67, 1, 3, 20, 68, 20, 20, 67, 3, 69, 70, 70, ...
7  [71, 72, 73, 33, 74, 72, 75, 34, 76, 35, 73, 3...
8  [111, 1, 39, 14, 112, 1, 39, 11, 113, 11, 113,...
9                                         [114, 114]

In [48]:
max_len = max(len(item) for item in df['integer_encoded'])

print('토큰의 최대 개수:', max_len)

토큰의 최대 개수: 175

In [49]:
for tokens in df['integer_encoded']:
    while len(tokens) < max_len:
        tokens.append(0)

In [50]:
df[['integer_encoded']]

                                     integer_encoded
0  [8, 2, 40, 15, 6, 1, 9, 40, 15, 6, 1, 6, 8, 2,...
1  [2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2  [41, 42, 18, 43, 44, 45, 43, 46, 47, 24, 48, 4...
3  [55, 2, 2, 55, 56, 57, 3, 56, 27, 3, 57, 58, 5...
4  [60, 1, 6, 16, 1, 19, 1, 61, 1, 1, 1, 7, 19, 2...
5  [31, 32, 65, 65, 31, 32, 66, 66, 31, 32, 0, 0,...
6  [67, 1, 3, 20, 68, 20, 20, 67, 3, 69, 70, 70, ...
7  [71, 72, 73, 33, 74, 72, 75, 34, 76, 35, 73, 3...
8  [111, 1, 39, 14, 112, 1, 39, 11, 113, 11, 113,...
9  [114, 114, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...